<div class="container cms">
  <div class="cms__page">
    <div class="cms__breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= link_to 'Cursos', courses_path %>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Novo curso</li>
        </ol>
      </nav>
    </div>

    <h1 class="cms__title m-0">Novo curso</h1>

    <div class="cms__content">
      <div class="cms__form">
        <%= render 'form', course: @course %>
      </div>
    </div>
  </div>
</div>
